a.button {
    color: #f6f6f6;
    background-color: #2f3abc;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    &:hover, &:active {
        background-color: #1f2782;
    }
    &:visited {
        background-color: #2f3abc;
    }
    &.color-z {
        background-color: $zColor;
        &:hover, &:active {
            background-color: #034f00;
        }
        &:visited {
            background-color: $zColor;
        }
    }
    &.color-d {
        background-color: $dColor;
        &:hover, &:active {
            background-color: #00494c;
        }
        &:visited {
            background-color: $dColor;
        }
    }
    &.color-k {
        background-color: $kColor;
        &:hover, &:active {
            background-color: #540d00;
        }
        &:visited {
            background-color: $kColor;
        }
    }
    &.color-s {
        background-color: $sColor;
        &:hover, &:active {
            background-color: #11005b;
        }
        &:visited {
            background-color: $sColor;
        }
    }
    &.color-o {
        background-color: $oColor;
        &:hover, &:active {
            background-color: #017752;
        }
        &:visited {
            background-color: $oColor;
        }
    }
    &.color-n {
        background-color: $nColor;
        &:hover, &:active {
            background-color: #703902;
        }
        &:visited {
            background-color: $nColor;
        }
    }
}
