.color-d {
    background-color: $dColor;
}
.color-k {
    background-color: $kColor;
}
.color-s {
    background-color: $sColor;
}
.color-o {
    background-color: $oColor;
}
.color-n {
    background-color: $nColor;
}

.fg-color-d {
    color: $dColor;
}
.fg-color-k {
    color: $kColor;
}
.fg-color-s {
    color: $sColor;
}
.fg-color-o {
    color: $oColor;
}
.fg-color-n {
    color: $nColor;
}
