@import "normalize";
@import "simplegrid";
@import "_links";
@import "_vars";
@import "_buttons";
@import "_colors";

body {
    background-color: #f6f6f6;
    color: #444;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
}
.dkr {
    font-family: "M+ 1p", sans-serif;
}
.container {
    width: 100%;
    max-width: 100%;
}

.grid {
    max-width: 1920px;
}

p {
    font-size: 18px;
}

.navbar.grid {
    width: 100%;
    background-color: #333;
    color: #f1f1f1;
    > .left {
        text-align: left;
    }
    > .right {
        text-align: right;
        padding: 0;
        margin: 0;
    }
    box-shadow: 0px 5px 3px #888888;
    padding: 0 10px;
    &.lang {
        padding: 0 10px 0 0;
        > .left > .nav {
            margin: 0 0 -15px 0;
        }
        &.color-z {
            background-color: $zColor;
        }
        &.color-d {
            background-color: $dColor;
        }
    }
}
a.nav-item {
    color: #f1f1f1;
    text-decoration: none;
    &:hover {
        color: #dbdbdb;
        text-decoration: underline;
    }
    &:active, &:visited {
        color: #f1f1f1;
        text-decoration: none;
    }
    &.wip::after {
        content: " (wip)";
        font-style: italic;
        font-size: small;
        color: #bf614e;
    }
}
a.nav-item.active {
    font-weight: bold;
}
.header {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    .grid {
        width: 95%;
    }
    .content {
        background-color: #e8e8e8;
        margin: 10px;
        padding: 20px;
        border-radius: 5px;
    }
}
span.lang {
    font-size: 0.7em;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}
.caption {
    font-size: 0.7em;
    font-style: italic;
    color: #3f3f3f;
}
